/*
<button class="tab" type="button" role="tab" id="tab-band" tabindex="0">
    The Band
</button>
<div
    aria-labelledby="tab-song"
    class="tab-panel selected"
    id="tab-song-panel"
    role="tabpanel"
></div>
*/
/* Group */
.tab-group {
    display: flex;
    justify-content: center;
    gap: 0 var(--spacing-3);
    max-width: 100%;
    overflow: auto;

    /* Child tabs (buttons or anchors) */
    button {
      appearance: none;
      background-color: unset;
      border: unset;
      color: var(--text-color-dim);
      display: inline-block;
      font: 400 16px/24px var(--body-text-typeface);
      padding: var(--spacing-2) var(--spacing-2) var(--spacing-2);
      cursor: pointer;
      margin: 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      transition: color var(--hover-transition);
      vertical-align: top;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Bottom borders – ::before for hover/focus, and ::after for selected */
      &::after {
        border-radius: var(--border-radius-round);
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: opacity var(--hover-transition);
        width: 100%;
      }

      &:focus-visible::after {
        background-color: var(--text-color);
        opacity: 1;
      }
  
      &:not([aria-selected='true'], :active):hover::after {
        background: var(--border-color);
        opacity: 1;
      }
  
      &:not([aria-selected='true']):active::after {
        opacity: 0.5;
      }
  
      &[aria-selected='true']::after {
        background: var(--highlight-color);
        opacity: 1;
      }
    }
}

.tab-panel {
  display: none;

  &.selected {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  &:focus {
    outline: none;
  }
}