---
---
@import "base";

.WQwKa {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 10;
    top: 0;
    left: 0;
}

@media screen and (min-width:576px) {
    .WQwKa {
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.gfalPI {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hOaBSk {
    width: 44px;
    height: 44px;
}

.dddSHA {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.ewSEqQ {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 32px;
    height: 100%;
    width: 100%;
}

@media screen and (min-width:576px) {
    .ewSEqQ {
        padding-bottom: 64px;
    }
}

.dLqIok {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
}

.cSfixN {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111111;
    background-style: flat;
    background-type: COLOR;
}

.dTcluo {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.eZNKTD {
    margin-bottom: 16px;
}

.llgrqs {
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
}

.jWrdnz {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 4px;
}

.jBQotv {
    margin-top: 24px;
    margin-bottom: 0;
}

.cUWRuD {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.jrDHLp {
    margin-top: 32px;
}

.pkAuV {
    position: relative;
}

.eua-dhZ {
    position: relative;
    height: auto;
    style-type: hardshadow;
    border-type: rounded;
}

.dgVnpq {
    left: 4px;
    width: 46px;
    height: 46px;
}

.MUXSj {
    min-height: auto;
    position: relative;
}

.hJerva {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.TOBck {
    height: auto;
}

.gWDeZD {
    position: relative;
    height: auto;
    overflow: hidden;
}

.kzDdRs {
    margin-top: 32px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.irFfOA {
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 8px;
    logo: white;
}

.Tmnro {
    display: contents;
}

.hePogb {
    height: 100%;
}

.kchftE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: inter;
    position: absolute;
    height: auto;
    bottom: 16px;
    padding-left: 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
}

data-styled.g1[id="sc-bdfBwQ"] {
    content: "WQwKa,jAmcnV,gfalPI,hOaBSk,dddSHA,ewSEqQ,dLqIok,cSfixN,dTcluo,eZNKTD,llgrqs,jWrdnz,jBQotv,cUWRuD,jrDHLp,pkAuV,eua-dhZ,dgVnpq,MUXSj,hJerva,TOBck,gWDeZD,kzDdRs,irFfOA,Tmnro,hePogb,kchftE,"
}

.bhdLno {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

data-styled.g2[id="sc-gsTCUz"] {
    content: "bhdLno,"
}

.hJicDA {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

data-styled.g3[id="sc-dlfnbm"] {
    content: "hJicDA,"
}

.gRrZhT {
    padding: 0;
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.5;
}

.gEbEcU {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (min-width:576px) {
    .gEbEcU {
        font-size: 16px;
    }
}

.gXKGT {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width:576px) {
    .gXKGT {
        font-size: 16px;
    }
}

data-styled.g4[id="sc-hKgILt"] {
    content: "gRrZhT,gEbEcU,gXKGT,"
}

.lbrsth {
    padding-left: 8px;
    padding-right: 8px;
    color: inherit;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.hxdUPG {
    margin-top: 8px;
    fill: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
}

data-styled.g5[id="sc-eCssSg"] {
    content: "lbrsth,"
}

.ckHcDD {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: block;
    object-fit: contain;
    object-position: initial;
    -webkit-filter: none;
    filter: none;
}

.eBOqAz {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    object-fit: contain;
    object-position: initial;
    -webkit-filter: none;
    filter: none;
}

data-styled.g8[id="sc-iBPRYJ"] {
    content: "ckHcDD,eBOqAz,"
}

.ldGKnQ {
    padding: 0;
    margin: 0;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    display: block;
    background: none;
    type: button;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.ldGKnQ:focus {
    outline: none;
}

.ldGKnQ:disabled {
    cursor: default;
    pointer-events: none;
}

.hprkOx {
    padding: 0;
    margin: 0;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    display: block;
    background: none;
    type: button;
    height: auto;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.hprkOx:focus {
    outline: none;
}

.hprkOx:disabled {
    cursor: default;
    pointer-events: none;
}

data-styled.g10[id="sc-pFZIQ"] {
    content: "ldGKnQ,hprkOx,"
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: Karla, sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html>* {
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

data-styled.g15[id="sc-global-iHiuGe1"] {
    content: "sc-global-iHiuGe1,"
}

.btjemE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

data-styled.g18[id="sc-kstrdz"] {
    content: "btjemE,"
}

.dgEPag button#ot-sdk-btn.ot-sdk-show-settings {
    font-size: 9px;
    -webkit-transition: color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.dgEPag button#ot-sdk-btn.ot-sdk-show-settings:hover {
    color: white;
}

data-styled.g20[id="sc-fodVxV"] {
    content: "dgEPag,"
}

.CvSZl {
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
}

data-styled.g22[id="sc-bkzZxe"] {
    content: "CvSZl,"
}

.fhtMSy {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    -webkit-transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding-left: 44px;
    padding-right: 44px;
}

.fhtMSy:hover {
    color: inherit !important;
}

data-styled.g25[id="sc-hHftDr"] {
    content: "fhtMSy,"
}

.kGoTFc {
    z-index: 0;
    overflow: hidden;
    -webkit-transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform .25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color .25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    margin-bottom: 16px;
    border: 2px solid;
    border-color: #b96dd0;
    -webkit-transition: none;
    transition: none;
    box-shadow: 8px 8px 0 0 #b96dd0;
    color: #ffffff;
    background-color: #111111;
    width: calc(100% - 12px);
    border-radius: 8px;
}

@-webkit-keyframes topwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }

    to {
        -webkit-mask-position: 680px top;
        mask-position: 680px top;
    }
}

@keyframes topwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }

    to {
        -webkit-mask-position: 680px top;
        mask-position: 680px top;
    }
}

@-webkit-keyframes bottomwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }

    to {
        -webkit-mask-position: -680px top;
        mask-position: -680px top;
    }
}

@keyframes bottomwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }

    to {
        -webkit-mask-position: -680px top;
        mask-position: -680px top;
    }
}

.kGoTFc:hover {
    -webkit-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0 0 #b96dd0;
}

.kGoTFc:active {
    -webkit-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0 0 #b96dd0;
}

.kGoTFc:hover .share-link-icon,
.kGoTFc:focus-within .share-link-icon {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: auto;
}

.kGoTFc:hover .caret-icon,
.kGoTFc:focus-within .caret-icon,
.kGoTFc:hover .gate-icon,
.kGoTFc:focus-within .gate-icon {
    display: none;
}

.kGoTFc .grecaptcha-badge {
    opacity: 0;
}

@-webkit-keyframes fadeBoxShadowInAndOut {

    0%,
    100% {
        box-shadow: inherit;
    }

    15%,
    85% {
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
    }
}

@keyframes fadeBoxShadowInAndOut {

    0%,
    100% {
        box-shadow: inherit;
    }

    15%,
    85% {
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
    }
}

data-styled.g26[id="sc-dmlrTW"] {
    content: "kGoTFc,"
}

.bkPOGA {
    -webkit-transition: -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0;
}

.bkPOGA:hover {
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

.bkPOGA svg {
    pointer-events: none;
}

data-styled.g78[id="sc-hlTvYk"] {
    content: "bkPOGA,"
}

.cEudwS {
    min-height: 100vh;
    min-height: 100dvh;
}

data-styled.g79[id="sc-eLgOdN"] {
    content: "cEudwS,"
}

.cnxSGb {
    display: block;
    position: relative;
    top: -92px;
    visibility: hidden;
}

data-styled.g81[id="sc-kIeTtH"] {
    content: "cnxSGb,"
}

.gVrdLI {
    display: grid;
    width: 100%;
    left: 0;
    right: 0;
    grid-template-columns: 1fr auto 1fr;
    border: 1px solid;
    border-color: transparent;
    border-radius: 72px;
    background-color: transparent;
    -webkit-transition: background-color 150ms ease, -webkit-transform 100ms ease, backdrop-filter 150ms ease;
    -webkit-transition: background-color 150ms ease, transform 100ms ease, backdrop-filter 150ms ease;
    transition: background-color 150ms ease, transform 100ms ease, backdrop-filter 150ms ease;
    -webkit-transition: background-color 150ms ease, -webkit-transform 150ms ease, -webkit-backdrop-filter 150ms ease;
}

@media (min-width:768px) {
    .gVrdLI {
        max-width: calc(704px + 84px);
    }
}

data-styled.g82[id="sc-hOqqkJ"] {
    content: "gVrdLI,"
}

.dKKCWk {
    grid-column-start: 2;
    grid-row-start: 1;
    opacity: 0;
}

data-styled.g83[id="sc-dtwoBo"] {
    content: "dKKCWk,"
}

.eWEcgK {
    grid-column-start: 1;
    grid-row-start: 1;
    opacity: 0;
}

data-styled.g84[id="sc-dacFzL"] {
    content: "eWEcgK,"
}

.fmxDzY {
    position: relative;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
}

data-styled.g85[id="sc-jUEnpm"] {
    content: "fmxDzY,"
}

.cKEKss {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
}

data-styled.g92[id="sc-eGCarw"] {
    content: "cKEKss,"
}

.youtube-embed {
    width: 100%;
    height: 0;
    margin-top: 36px;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}