<!DOCTYPE html>
<html lang="en">
    {% include meta-head.html %}
    <body>
        <main>
            <div class="track-container">
                <div class="art-bkg" style="background-image: url('/images/songs/{{page.short_name}}.png');"></div>
                <div class="track-interactive">
                    <img class="track-art" src="/images/songs/{{page.short_name}}.png" />
                    <div class="track-interactive-label">
                        <a href="https://open.spotify.com/track/{{ page.spotify_id }}">
                            <img src="/images/spotify.png" alt="Spotify Logo" />
                            <span>Listen on Spotify</span>
                        </a>
                    </div>
                </div>
            </div>
            <article class="details-container">
                <header>
                    <img src="/images/square.jpg" alt="The Very Bad Days hunt the elusive Ghost Bruno" />
                    <h2>THE VERY BAD DAYS</h2>
                </header>
                <article>
                    <div class="detail-content-block">
                        <h1>{{ page.song_name }}</h1>
                        <p class="large">{{ page.song_description }}</p>
                        {% if page.album && page.album_link %}
                            <p class="subtext">From <a href="{{ page.album_link }}">{{ page.album }}</a></p>
                        {% endif %}
                    </div>

                    <div class="detail-content-block">
                        <h3>LYRICS</h3>
                        <div class="markdown-wrapper">{{ page.lyrics | markdownify }}</div>
                    </div>

                    <div class="detail-content-block">
                        <h3>ABOUT THE BAND</h3>
                        <p>Emerging from the scary basement of the Minneapolis music scene, The Very Bad Days are a devilishly funny B-horror flick of a band.</p>
                        <ul>
                            <li>Dark and danceable originals. Upbeat, bittersweet ballads. Grotesque puns and 90's covers.</li>
                            <li>Minimalist, backbeat drumming. Melodic, punk jazz basslines. Powerful axe-chops and chilling solos.</li>
                            <li>Fantastical grindhouse macabre, all tied up with the unexpected sweetness of alt-rock nostalgia.</li>
                        </ul>    
                        <p>These grim humor grunge rock Ghostbusters proudly capture a bizarre spirit all their own. On a terrible, horrible, no good, very bad day, you can catch the band haunting the bars, theaters, and curiosity shops of Minnesota.</p>
                    </div>

                    <footer class="detail-content-block">
                        <p class="subtext">© The Very Bad Days, Brian Reed, Daniel Goodroad, Aric Bieganek
                        <br />
                        <br />
                        Album produced by <a href="https://cloverleaf.audio" target="_blank">Cloverleaf Audio-Visual</a>, Saint Paul MN
                        <br />
                        Producer & Recording Engineer: Matt Ebso
                        <br />
                        Assistant Engineer: Maximiliano Frini
                        <br />
                        Mix Engineer: Jun Yang Ng
                        <br />
                        Mastering Engineer: Greg Reierson, Rareform Mastering</p>
                    </footer>
                </article>
            </article>
        </main>
    </body>
</html>